.background{
    background-image: url(https://secure.img1-cg.wfcdn.com/im/20706216/compr-r85/8829/88294050/random-width-x-varying-length-barnwood-wall-paneling.jpg
    );
    height:100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    top:0px;
    bottom:0px;
}

.content{
    background-color:rgb(255, 255, 255);
    width:60%;
    height:100%;
    margin-left:20%;
    margin-right:20%;
    top:0px;
    border: 1px solid rgb(70, 55, 35);
}
h3{
    text-align:center;
}
.projectTitle{
    font-family: 'Parisienne', cursive;
    padding-top: 2%;
}
.schoolingHeader{
    margin-top:0px;
}
body{
    margin:0px;
    top:0px;
}
.header{
    background-color:rgb(159, 133, 96);
    text-align:center;
    border-bottom:2px solid rgb(70, 55, 35);
    top:0px;
    padding-top:4%;
}
.title{
    text-align:center;
    font-size:300%;
    vertical-align:middle;
    font-family: 'Parisienne', cursive;
}
.homeHeader{
    background-color:rgb(159, 133, 96);
    text-align:center;
    border-bottom:2px solid rgb(70, 55, 35);
    top:0px;
    padding-top:1%;
    font-family: 'Parisienne', cursive;
}
.homeTitle{
    font-family: 'Parisienne', cursive;
    text-align:center;
    font-size:300%;
    vertical-align:middle;
}
hr{
    border: 5px solid rgb(70, 55, 35);
    margin:0px;
    margin-bottom:10px;
}
h3{
    text-align:center;
}
.thinHr{
    border: 1px solid rgb(70, 55, 35);
    margin:0px;
    margin-bottom:10px;
}
.intro{
    display:flex;
    justify-content: space-around;
}
.introParagraph{
    display:block;
    margin-top:auto;
    margin-bottom:auto;
    padding: 30px;
    font-size: 18px;
    line-height: 1.5;
}
.profileImage{
    border-radius:50%;
    width: 87vw;
    height: 47vh;
    object-fit:cover;
    object-position: 50% 0%;
    margin:2vw;
    border: 2px solid rgb(70, 55, 35);
}
.secondContent{
    margin-top: 70px;
    background-color:rgb(255, 255, 255);
    width:60%;
    height:100%;
    margin-left:20%;
    margin-right:20%;
    top:0px;
    line-height:1.5;
}
.center{
    text-align:center;
}
.firstRowButtons{
    display:flex;
    justify-content:space-around;
}

.homePageButton{
    background-color:rgb(232, 192, 140);
    width:20%;
    margin:0px;
    padding:5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.homePageLabel{
    background-color:rgb(232, 192, 140);
    width:20%;
    margin:0px;
    padding:5px;
    color: rgb(71, 69, 69);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.homePageImage1{
    width:12vw;
}
.homePageImage2{
    width:12vw;
}
.homePageImage3{
    width:12vw;
}
.homePageImage4{
    width:12vw;
}
.homePageImage5{
    width:12vw;
}
.homePageImage6{
    width:12vw;
}
.homePageImage7{
    width:12vw;
}
.firstRowImages{
    display:flex;
    justify-content:space-around;
}
.secondRowImages{
    display:flex;
    justify-content:space-around;
}
.homePageButton{
    background-color:rgb(232, 192, 140);
    width:20%;
    margin:0px;
    padding:5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.secondRowButtons{
    display:flex;
    justify-content:space-around;
}

.homePageButton:hover{
    background-color:rgb(149, 122, 86);
}
.extracurricularScreen{
    display:none;
}
.roboticsButton{
    width:100%;
    padding: 0px;
    background-color:rgb(160, 179, 156);
    border: 2px solid rgb(88, 108, 83);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.roboticsDiv{
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.roboticsContent{
    display:none;
    justify-content: space-around;
}
.roboticsButton:hover{
    background-color:rgb(88, 108, 83);
}
.extraImage{
    width: 20%;
    margin: 4px;
    border: 2px solid rgb(70, 55, 35);
    object-fit:cover;
}
.volImage{
    width:30%;
    margin: 4px;
    border: 2px solid rgb(70, 55, 35);
}
.centerImage{
    display:block;
    margin-left:auto;
    margin-right:auto;
    border: 2px solid rgb(70, 55, 35);
    object-fit:cover;
}
.iriImage{
    width:40%;
    margin: 4px;
    border: 2px solid rgb(70, 55, 35);
}
.jobPara{
    line-height:1.5;
}
.mathLeagueButton{
    width:100%;
    padding: 0px;
    background-color:rgb(160, 179, 156);
    border: 2px solid rgb(88, 108, 83);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.mathLeagueDiv{
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.mathLeagueContent{
    display:none;
    justify-content: space-around;
}
.mathLeagueButton:hover{
    background-color:rgb(88, 108, 83);
}


.NHSButton{
    width:100%;
    padding: 0px;
    background-color:rgb(160, 179, 156);
    border: 2px solid rgb(88, 108, 83);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.NHSDiv{
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.NHSContent{
    display:none;
    justify-content: space-around;
}
.NHSButton:hover{
    background-color:rgb(88, 108, 83);
}


.enviroButton{
    width:100%;
    padding: 0px;
    background-color:rgb(160, 179, 156);
    border: 2px solid rgb(88, 108, 83);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.enviroDiv{
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.enviroContent{
    display:none;
    justify-content: space-around;
}
.enviroButton:hover{
    background-color:rgb(88, 108, 83);
}

.techCrewButton{
    width:100%;
    padding: 0px;
    background-color:rgb(160, 179, 156);
    border: 2px solid rgb(88, 108, 83);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.techCrewDiv{
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.techCrewContent{
    display:none;
    justify-content: space-around;
}
.techCrewButton:hover{
    background-color:rgb(88, 108, 83);
}


.EWCButton{
    width:100%;
    padding: 0px;
    background-color:rgb(160, 179, 156);
    border: 2px solid rgb(88, 108, 83);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.EWCDiv{
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.EWCContent{
    display:none;
    justify-content: space-around;
}
.EWCButton:hover{
    background-color:rgb(88, 108, 83);
}


.keyClubButton{
    width:100%;
    padding: 0px;
    background-color:rgb(160, 179, 156);
    border: 2px solid rgb(88, 108, 83);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.keyClubDiv{
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.keyClubContent{
    display:none;
    justify-content: space-around;
}
.keyClubButton:hover{
    background-color:rgb(88, 108, 83);
}


.bookButton{
    width:100%;
    padding: 0px;
    background-color:rgb(160, 179, 156);
    border: 2px solid rgb(88, 108, 83);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bookDiv{
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.bookContent{
    display:none;
    justify-content: space-around;
}
.bookButton:hover{
    background-color:rgb(88, 108, 83);
}


.artButton{
    width:100%;
    padding: 0px;
    background-color:rgb(160, 179, 156);
    border: 2px solid rgb(88, 108, 83);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.artDiv{
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.artContent{
    display:none;
    justify-content: space-around;
}
.artButton:hover{
    background-color:rgb(88, 108, 83);
}

.backButton{
    background-color:rgb(160, 179, 156);
    border: 2px solid rgb(88, 108, 83);
    padding: 5px;
}
.backButtonDiv{
    display:flex;
    justify-content:space-around;
    margin-top: 10px;
}
.backButton:hover{
    background-color:rgb(88, 108, 83);
}
.clubPara{
    padding:10px;
    line-height:1.5;
}
.volPara{
    padding: 10px;
    line-height:1.5;
    font-size: 14px;
}
.perryImage{
    width:20%;
    margin: 5px;
    border: 2px solid rgb(70, 55, 35);
    object-fit:cover;
}
.vincennesImage{
    width:25%;
    margin: 5px;
    border: 2px solid rgb(70, 55, 35);
}
.schoolingLabel{
    text-align:center;
}
.contentSchooling{
    padding:8px;
}
.schoolingHeader{
    background-color:rgb(160, 179, 156);
    border: 2px solid rgb(70, 55, 35);
    padding:5px;
}
.schoolingContent{
    padding:10px;
}
.volDescription{
    text-align:center;
    padding:5px;
    line-height:1.5;
    font-size: 20px;
    margin-top:auto;
    margin-bottom:auto;
    font-family: 'Playfair', serif;
    font-weight: 600;
}
.imgRight{
    float:right;
    width:auto;
    object-fit:cover;
    
}
.imgLeft{
    float:left;
    width:auto;
    object-fit:cover;
}
.volunteeringContent{
    display:flex;
    justify-content: space-around;
    margin: 10px;
}
.list{
    border: 1px solid rgb(70, 55, 35);
    padding:5px;
    width:20%;
    margin: 20px;
}
.jobImage{
    width:30%;
    object-fit:cover;
    border: 1px solid rgb(70, 55, 35);
    margin: 20px;
}
.jobImage2{
    width:20%;
    object-fit:cover;
    border: 1px solid rgb(70, 55, 35);
    margin: 20px;
}
.navButtons{
    display:flex;
    justify-content:space-between;
    width:100%;
}
.navBar{
    width:100%;
    position:fixed;
    margin:0px;
    top:0px;
    
}
.navButton{
    width:20%;
    margin-top:0px;
    background-color:rgb(236, 243, 236);
    border: 0px solid rgb(236, 243, 236);
    padding:1%;
    border-bottom: 2px solid rgb(178, 184, 178);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navLabel{
    width:20%;
    margin-top:0px;
    background-color:rgb(193, 199, 193);
    border: 0px solid rgb(236, 243, 236);
    padding:1%;
    border-bottom: 2px solid rgb(178, 184, 178);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navButton:hover{
    background-color:rgb(193, 199, 193);
    border: 0px solid white;
}
.phoneNumber{
    text-align:center;
}
.skills{
    display:flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.projectImage{
    width: 20vw;
    margin: 10px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border: 2px solid rgb(70, 55, 35);
}
.projectImageNolan{
    width: 10vw;
    margin: 10px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border: 2px solid rgb(70, 55, 35);
}

.projectImageMountain{
    width: 17vw;
    margin: 10px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border: 2px solid rgb(70, 55, 35);
}
.projectDes{
    width: 20vw;
    margin: 10px;
    padding: 10px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.outline{
    border: 2px solid rgb(70, 55, 35);
    background-color: white;

}
.projectHr{
    border: 1px solid rgb(70, 55, 35);
    width: 15vw;
    margin-left:auto;
    margin-right:auto;
}
.projects{
        background-color:rgb(225, 209, 186);
}
.blocks{
    background-color:white;
    padding: 20px;
    border:  2px solid rgb(70, 55, 35);
}
