.background{
    background-image: url(https://secure.img1-cg.wfcdn.com/im/20706216/compr-r85/8829/88294050/random-width-x-varying-length-barnwood-wall-paneling.jpg
    );
    height:1000px;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
}
.content{
    background-color:rgb(255, 255, 255);
    width:60%;
    height:100%;
    margin-left:20%;
    margin-right:20%;
}
body{
    margin:0px;
}
.header{
    background-color:rgb(159, 133, 96);
    height:8%;
    text-align:center;
    margin-bottom:10px;
    border-bottom:2px solid rgb(70, 55, 35);
    
}
.title{
    text-align:center;
    font-size:400%;
}
hr{
    border: 5px solid rgb(70, 55, 35);
    margin:0px;
    margin-bottom:10px;
}
.firstRowButtons{
    display:flex;
    justify-content:space-around;
}

.homePageButton{
    background-color:rgb(232, 192, 140);
    width:20%;
    margin:0px;
    padding:5px;
}
.homePageImage1{
    width:100px;
    height:100px;
    object-fit:cover;
    margin:0px;
    object-position: center top;
}
.homePageImage2{
    width:100px;
    height:100px;
    object-fit:cover;
    margin:0px;
    object-position: center top;
}
.homePageImage3{
    width:100px;
    height:100px;
    object-fit:cover;
    margin:0px;
    object-position: center top;
}
.homePageImage4{
    width:100px;
    height:100px;
    object-fit:cover;
    margin:0px;
    object-position: center top;
}
.homePageImage5{
    width:100px;
    height:100px;
    object-fit:cover;
    margin:0px;
    object-position: center top;
}
.homePageImage6{
    width:100px;
    height:100px;
    object-fit:cover;
    margin:0px;
    object-position: center top;
}
.homePageImage7{
    width:100px;
    height:100px;
    object-fit:cover;
    margin:0px;
    object-position: center top;
}
.homePageImage8{
    width:100px;
    height:100px;
    object-fit:cover;
    margin:0px;
    object-position: center top;
}
.firstRowImages{
    display:flex;
    justify-content:space-around;
}
.secondRowImages{
    display:flex;
    justify-content:space-around;
}
.homePageButton{
    background-color:rgb(232, 192, 140);
    width:20%;
    margin:0px;
    padding:5px;
}

.secondRowButtons{
    display:flex;
    justify-content:space-around;
}

.homePageButton:hover{
    background-color:rgb(149, 122, 86);
}
.extracurricularScreen{
    display:none;
}
.roboticsButton{
    width:100%;
    padding: 0px;
    background-color:rgb(160, 179, 156);
    border: 2px solid rgb(88, 108, 83);
}
.roboticsDiv{
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.roboticsContent{
    display:none;
    justify-content: space-around;
}
.roboticsButton:hover{
    background-color:rgb(88, 108, 83);
}

.mathLeagueButton{
    width:100%;
    padding: 0px;
    background-color:rgb(160, 179, 156);
    border: 2px solid rgb(88, 108, 83);
}
.mathLeagueDiv{
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.mathLeagueContent{
    display:none;
    justify-content: space-around;
}
.mathLeagueButton:hover{
    background-color:rgb(88, 108, 83);
}


.NHSButton{
    width:100%;
    padding: 0px;
    background-color:rgb(160, 179, 156);
    border: 2px solid rgb(88, 108, 83);
}
.NHSDiv{
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.NHSContent{
    display:none;
    justify-content: space-around;
}
.NHSButton:hover{
    background-color:rgb(88, 108, 83);
}


.enviroButton{
    width:100%;
    padding: 0px;
    background-color:rgb(160, 179, 156);
    border: 2px solid rgb(88, 108, 83);
}
.enviroDiv{
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.enviroContent{
    display:none;
    justify-content: space-around;
}
.enviroButton:hover{
    background-color:rgb(88, 108, 83);
}

.techCrewButton{
    width:100%;
    padding: 0px;
    background-color:rgb(160, 179, 156);
    border: 2px solid rgb(88, 108, 83);
}
.techCrewDiv{
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.techCrewContent{
    display:none;
    justify-content: space-around;
}
.techCrewButton:hover{
    background-color:rgb(88, 108, 83);
}


.EWCButton{
    width:100%;
    padding: 0px;
    background-color:rgb(160, 179, 156);
    border: 2px solid rgb(88, 108, 83);
}
.EWCDiv{
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.EWCContent{
    display:none;
    justify-content: space-around;
}
.EWCButton:hover{
    background-color:rgb(88, 108, 83);
}


.keyClubButton{
    width:100%;
    padding: 0px;
    background-color:rgb(160, 179, 156);
    border: 2px solid rgb(88, 108, 83);
}
.keyClubDiv{
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.keyClubContent{
    display:none;
    justify-content: space-around;
}
.keyClubButton:hover{
    background-color:rgb(88, 108, 83);
}


.bookButton{
    width:100%;
    padding: 0px;
    background-color:rgb(160, 179, 156);
    border: 2px solid rgb(88, 108, 83);
}
.bookDiv{
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.bookContent{
    display:none;
    justify-content: space-around;
}
.bookButton:hover{
    background-color:rgb(88, 108, 83);
}


.artButton{
    width:100%;
    padding: 0px;
    background-color:rgb(160, 179, 156);
    border: 2px solid rgb(88, 108, 83);
}
.artDiv{
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.artContent{
    display:none;
    justify-content: space-around;
}
.artButton:hover{
    background-color:rgb(88, 108, 83);
}

.backButton{
    background-color:rgb(160, 179, 156);
    border: 2px solid rgb(88, 108, 83);
    padding: 5px;
}
.backButtonDiv{
    display:flex;
    justify-content:space-around;
    margin-top: 10px;
}
.backButton:hover{
    background-color:rgb(88, 108, 83);
}

.perryImage{
    float:right;
    margin: 5px;
    border: 2px solid rgb(70, 55, 35);
}
.schoolingLabel{
    text-align:center;
}
.schoolingContent{
    text-align:justify;
}